DJANGO_DEBUG=False
DJANGO_SECRET_KEY=غيّر-هذا-لمفتاح-عشوائي-طويل-جداً
DJANGO_ALLOWED_HOSTS=pweb.erpbylyomastech.com,162.0.237.222
DJANGO_CSRF_TRUSTED_ORIGINS=https://pweb.erpbylyomastech.com
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True

DB_NAME=parma
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_HOST=127.0.0.1
DB_PORT=5432
