DJANGO_DEBUG=False
DJANGO_SECRET_KEY=fkjsdgfwejklfhjkw3h4fo4h3e89fh3489ufhbvyo34vfvob23dnlhe4fgyib7l334gihf23ndf278
DJANGO_ALLOWED_HOSTS=pweb.erpbylyomastech.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://pweb.erpbylyomastech.com
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True

DB_NAME=pweb
DB_USER=pweb
DB_PASSWORD=your-strong-db-password
DB_HOST=127.0.0.1
DB_PORT=5432
